<p>Dear <%=@user.fname%>,</p>

<p>This email is to confirm that you have registered the MyRxTracking App.</p>



<p>Welcome to MyRxTracking App! With this app you can track your own medication conditions, report adverse events to your providers.</p>



<p>Follow this link to access your account information: <%=@server_url%> or download the mobile application at the IOS App Store. Please use the following password: <%=@password%></p>

<p>Thank you again for registering and please visit our support site at http://www.supportsite.com if you have any questions or concerns</p>

<p>Regards,</p>
<p>MyRxTracking Team</p>
