<p>Dear <%=@user.fname%>,</p>

<p>This email is to confirm that you have generated a temp password for your account inside the app.</p>

<p>Please use the new password: <%=@password%>, or you can also your original password.</p>

<p>Regards,</p>
<p>Technical supporting Team</p>
